<h1> Dashboards page </h1>
<p> Welcome <%=@user_email%><p>

<p> this page should show whatever someone logged in can see </p>

<p> Admin? <%=@user_admin%></p>

<%=link_to "Locations", locations_path %>
