<h2><%= @category.name %></h2>


<%# <%= render @post_results %>

<hr>

<section>
  <%= link_to "Create New Post", :controller => "posts", :action => "new", :post => {:category_id => params[:id], :location_id => params[:location_id]} %>
</section>

